In [ ]:
# Declaration happens automatically when you assign a value to a variable

In [ ]:
a = 5
print(type(a))

<class 'int'>

In [ ]:
a = 5.5
print(type(a))

<class 'float'>

In [ ]:
a = "Imran"
print(type(a))

<class 'str'>

In [ ]:
# Tripple quatation is for including lines in the string
a = """"My Name is
Imran"""
print(a)
print(type(a))

"My Name is
Imran
<class 'str'>

In [ ]:
#print
a = 5
b = "hello"
print(a,b)
print(f"I want {a} apple ") #string formatting

5 hello
I want 5 apple

In [ ]:
# printing 2 decimal points
a = 1/3
print("%.2f"%a)

0.33

In [ ]:
#Basic Arithmetic
a = 3.4
b = 2.8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
#square a number ( Pow function in c)
print(a**2)

6.199999999999999
0.6000000000000001
9.52
1.2142857142857144
1.0
11.559999999999999

In [ ]:
#String Operations
s = "Hello"
t = "World"
print(s + " "+  t)
w = s*5
print(w)

HelloWorld
HelloHelloHelloHelloHello

In [ ]:
#Indexing
print(w[0])
print(len(w)) #Length

H
25

In [ ]:
# t = HelloWorld
# Hwd - Subsequence
# Wor - Substring
# String Slicing
# t[5:8]
# t[starting index of the slice : Ending index of the slice: Step size]
t = "helloworld"
print(t[1:6:2])
print(t[8:5:-1])

elw
lro

In [ ]:
w = "apple"
print(w[-1::-1])

elppa

In [ ]:
#TypeCast
a = 5.5
print(int(a))
b = 5
print(float(b))
a = "5"
b = 6
#print(a+b) # can only concatenate str (not "int") to str
print(a+str(b))
print(int(a)+b)
#we can't type cast here a="apple" this can't be type casted to integer

5
5.0
56
11

In [ ]:
name = input()
print(name)

imran
imran

In [ ]:
num =int(input())
print(num+4)

name

ValueError: invalid literal for int() with base 10: 'name'

In [ ]:
#Conditional
if 3 < 5:
  print("here")
else:
  print("there")

here

In [ ]:
if 3 > 5:
  pass
elif 3 < 5:
  print("here")
else:
  pass
# if else chain

here

In [ ]:
for i in range (100, 49, -2):
  print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50

In [ ]:
#In some cases we can't use for loop. So, we use while loop
n = 1729
cnt = 0
while n!=0:
  n//=10
  cnt+=1
print(cnt)

4

In [ ]:
#code forces
#leet code